<input type="text" [value]="inputText" #inputField>
<button (click)="displayContent(inputField.value)">Submit</button>
<div>{{ displayedContent }}</div>

<div [ngClass]="{ 'success': isSuccess, 'error': isError }">
  {{ message }}
</div>
<button (click)="toggleErrorState()">Toggle error state</button>

<!--  ngFor -->
<ul>
  <li *ngFor="let month of months">{{ month }}</li>
</ul>

<!-- ngIf -->
<div *ngIf="isAvailable">
  Available
</div>
<div *ngIf="!isAvailable">
  Not Available
</div>

<button (click)="toggleAvailability()">Toggle Availability</button>

<!-- custom pipe -->
<div>
  <label for="metersInput">Enter value in meters:</label>
  <input type="number" id="metersInput" [(ngModel)]="metersValue">
</div>

<div>
  Value in centimeters: {{ metersValue | meterToCentimeter }}
</div>